mixin FeatureCard(prop)
  .col-lg-3.col-sm-6.mb-2 
    .card.text-start.align-items-center 
      .card-body.p-xxl-5.p-4 
        img.justify-content-start(src=`${CWD}assets/img/category/${prop.image}` width='75' alt="Service")
        h4.mb-3= prop.title 
        p.mb-0.fw-medium.text-secondary= prop.text
