extends layouts/LayoutTheme
include mixins/common/Footer
include mixins/common/FeatureCard
include mixins/common/MarketingCard
include mixins/home/landing/HeroHeader
include mixins/home/landing/Feature
include mixins/home/landing/Validation
include mixins/home/landing/Manager
include mixins/home/landing/Marketer
include mixins/home/landing/Marketing
include mixins/home/landing/Superhero




prepend scripts

append content
  +HeroHeader
  +Feature
  +Validation
  +Manager
  +Marketer
  +Superhero
  +Marketing
  +Footer
