mixin HeroHeader
  section(style="padding-top: 7rem;")
    .container
      .row.align-items-center
        .col-md-5.col-lg-6.order-0.order-md-1.text-end
          img.pt-7.pt-md-0.hero-img(src=`${CWD}assets/img/hero/hero-img.png` alt='hero-header')
        .col-md-7.col-lg-6.text-md-start.text-center.py-6

          h1.hero-title The Design Thinking Superpowers
          p.mb-4.mt-3.fw-medium Tools tutorials,design and innovation experts,all
            br.d-none.d-xl-block
            | in one place!The most intuitive way to imagine
            br.d-none.d-xl-block
            | your next user experience.
          .text-center.text-md-start
            a.btn.btn-primary.py-2.px-4.me-md-4.mb-3.mb-md-0.border-0.primary-btn-shadow.text-white(href='#!' role='button') Get started
            .w-100.d-block.d-md-none
            a(href='#!' role='button' data-bs-toggle="modal" data-bs-target="#popupVideo")
              span.fas.fa-play.hero-btn-text
            span.hero-btn-text.fw-medium.mx-1
              u Watch the Video
            .modal.fade#popupVideo(tabindex="-1" aria-labelledby="popupVideo" aria-hidden="true")
              .modal-dialog.modal-dialog-centered.modal-lg
                .modal-content 
                  iframe.rounded(style="width:100%;max-height:500px;" height="500px" src="https://www.youtube.com/embed/_lhdhL4UDIo" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)