mixin Marketer 
  +Section.pt-5#marketer
    .row.align-items-start
      .col-lg-6 
        .row
          h5.text-secondary Optimisation for
        .row.mb-2.fs-8.fw-bold
          p Marketers
        .row.mb-2.fw-medium.text-secondary
          p
            |Few would argue that, despite the advancements of
            br
            |feminism over the past three decades, women still face a
            br
            |double standard when it comes to their behavior.
        .row.fw-bold
          p Accessory makers
        .row.mb-2.fw-medium.text-secondary
          p
            |While most people enjoy casino gambling, sports betting,
            br
            |lottery and bingo playing for the fun
        .row.fw-bold
          p Alterationists
        .row.mb-2.fs-1.fw-medium.text-secondary
          p
            |If you are looking for a new way to promote your business
            br
            |that won't cost you money,
        .row.fw-bold
          p Custom Design designers
        .row.mb-2.fw-medium.text-secondary
          p
            |If you are looking for a new way to promote your business
            br
            |that won't cost you more money,



      .col-lg-6.d-flex.justify-content-center.align-items-start
        img(src=`${CWD}assets/img/marketer/marketer.png`, style="max-width:100%;" alt="shape").image-fluid
