append variables 
  -
    var background={
      "className":" bottom-0 d-none d-lg-block",
      "image":`${CWD}assets/img/superhero/oval.png`
    }


mixin Superhero
  +Section.pt-5.pt-md-9#superhero
    +Background(background)









