mixin Validation 
  +Section.pt-5#validation
    .row.align-items-start
      .col-lg-6 
        .row.text-start.fs-1
          h5.text-secondary Effortless Validation for
        .row.mb-2.text-start.fs-8.fw-bold
          p Design Professionals
        .row.mb-2.text-start.fs-1.fw-medium.text-secondary
          p
            |The Myspace page defines the individual,his or her
            |characteristics,traits,personal choices and the overall
            br
            |personality of the person.
        .row.text-start.fs-1.fw-bold
          p Accessory makers
        .row.mb-2.text-start.fs-1.fw-medium.text-secondary
          p
            |While most people enjoy casino gambling, sports betting,
            br
            |lottery and bingo playing for the fun
        .row.text-start.fs-1.fw-bold
          p Alterationists
        .row.mb-2.text-start.fs-1.fw-medium.text-secondary
          p
            |If you are looking for a new way to promote your business
            br
            |that won't cost you money,
        .row.text-start.fs-1.fw-bold
          p Custom Design designers
        .row.mb-2.text-start.fs-1.fw-medium.text-secondary
          p
            |If you are looking for a new way to promote your business
            br
            |that won't cost you more money,



      .col-lg-6.d-flex.justify-content-center.align-items-start
        img(src=`${CWD}assets/img/validation/validation.png`, style="max-width:100%;" alt="shape").image-fluid
